<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d6167">  <td>21/05/13 12:06:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OrderTrailsPageTest.setUp()[pri:0, instance:uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest@55e7a35c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1668376627</td>   <td></td> </tr>
<tr bgcolor="9d6167">  <td>21/05/13 12:07:01</td>   <td>16940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderTrailsPageTest.ValidateEnterFlatNoandLandmark()[pri:25, instance:uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest@55e7a35c]">ValidateEnterFlatNoandLandmark</td> 
  <td>main@1668376627</td>   <td></td> </tr>
</table>
