<h2>Methods that were not run</h2><table>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterspecialcharacterinValidName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter Invalid Lower case with special character in Name Filed and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterallUpperCaseValidName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter Valid all Upper case in Name Filed and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterinValidOTPs<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter text in all mandatory filed and also select the product like cow milk with qty=1 and click on Next Button ---> Enter valid OTP after 1 minute ---> Then validation message show and click on Resend Button.</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterLocationandLandmarkOnly<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter text in all mandatory filed and also select the product like cow milk with qty=1 and click on Next Button ---> Enter valid OTP --->click on Next Button. ---> Enter location and also enter landmark---> Finally click on Next Button.</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterExistingValidPhone<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter Valid 10 digits mobile number i.e mobile number is existing in Mobile Number Filed and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterValidOTP<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter text in all mandatory filed and also select the product like cow milk with qty=1 and click on Next Button ---> Enter valid OTP ---> Finally click on Next Button.</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterFlatNo<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter text in all mandatory filed and also select the product like cow milk with qty=1 and click on Next Button ---> Enter valid OTP --->click on Next Button. ---> Enter FlatNO and keep landmark Blank ---> Finally click on Next Button.</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterinValidName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter Invalid Lower case with numeric value in Name Filed and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.validateOrderTrailsPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Clicking on Order Trail button in banner filed</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterValidPhone<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter Valid 10 digits mobile number i.e mobile number is new in Mobile Number Filed and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterinValidOTP<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter text in all mandatory filed and also select the product like cow milk with qty=1 and click on Next Button ---> Enter invalid OTP ---> Finally click on Next Button.</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnteralargeLowerCaseValidName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter Valid large text in Name Filed and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterinValidAlphabetCharacterInMobileNumber<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter Invalid alphabet character in Mobile Number Filed and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnteraUpperLowerCaseValidName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter Valid both Upper and Lower case in Name Filed and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterinValidPhone<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter Invalid 9 digits mobile number  in Mobile Number Filed and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateselectingCityLocality<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Select City and Locality and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterFlatNoLandmark<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter text in all mandatory filed and also select the product like cow milk with qty=1 and click on Next Button ---> Enter valid OTP --->click on Next Button. ---> Enter FlatNO and also enter landmark---> Finally click on Next Button.</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.customerDetails<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying that order place functionality</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateClickingOnResendLink<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter text in all mandatory filed and also select the product like cow milk with qty=1 and click on Next Button ---> Enter valid OTP after 1 minute ---> Then validation message show and click on Resend Button ---> Finally Enter valid OTP and click on Next Button.</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateselectingCityOnly<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Select City only and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateWithoutselectingCityLocality<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User not Select City and Locality and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterBlankinValidName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter Invalid means Blank text in Name Filed and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterBlankinValidMobileNumber<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter Invalid menas Blank digits in Mobile Number Filed and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateEnterallLowerCaseValidName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User Enter Valid all Lower case in Name Filed and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.ValidateWithoutselectinganyProduct<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User not Select Product like Cow milk with qty=1 and remaining all mandatory filed and click on Next Button</i></td></tr>
<tr><td>uiwebsitecom.uiwebsite.qa.testcases.OrderTrailsPageTest.clickingoneByoneFAQFiled<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Clicking one by one FAQ filed and verifying title with description</i></td></tr>
</table>